*{
  margin:0px;
  padding:0px;
}

body{
  font-family: 'IBM Plex Mono';
}

#todo_container{
  width:300px;
  height:auto;
  position: absolute;
  top:50%;
  left:50%;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
  margin-left: -150px;
  transition: margin-top 0.3s;
}

#todo_container #todo_header{
  width:calc(300px - 40px);
  height:30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #046380;
  color:#fff;
}

#todo_container #todo_header > div{
  cursor: pointer;
}

#todo_container input[type=text]{
  width:calc(100% - 10px);
  padding:10px 0px 10px 10px;
  font-family: 'IBM Plex Mono';
  font-size: 18px;
  outline: none; 
  background: #EFECCA;
  border: none;
}

#todo_container ul{
  list-style: none; 
  overflow: hidden;
  max-height: 500px;
  overflow-y: scroll;
}

#todo_container ul li{
  cursor: pointer; 
  width:calc(100% + 20px);
  padding:10px;
  margin-left: -35px;
  transition: margin-left 0.3s;
}

#todo_container ul li > .text{
  margin-left:20px;
}

#todo_container ul li:nth-child(even){
  background: rgba(0,0,0,0.04); 
}

.todo_done{
  text-decoration: line-through;
}